$base03 ?=         #161616  //darkest blue
$base02 ?=         #161616  //dark blue
$base01 ?=         #93959a  //darkest gray
$base00 ?=         #657b83  //dark gray
$base0 ?=          #839496  //medium gray
$base1 ?=          #cccccc  //medium light gray
$base2 ?=          #eee8d5  //cream
$base3 ?=          #fdf6e3  //white
$solar-yellow ?=   #e3a055 
$solar-orange ?=   #db413d 
$solar-red ?=      #ba5bd7 
$solar-magenta ?=  #e3a055 
$solar-violet ?=   #6c71c4 
$solar-blue ?=     #8d5bdb 
$solar-cyan ?=     #ba5bd7 
$solar-green ?=    #e09cff 

$solarized ?= dark 

if $solarized == light {

  $_base03 =$base03;
  $_base02 =$base02;
  $_base01 =$base01;
  $_base00 =$base00;
  $_base0 = $base0;
  $_base1 = $base1;
  $_base2 = $base2;
  $_base3 = $base3;

  $base03 = $_base3;
  $base02 = $_base2;
  $base01 = $_base1;
  $base00 = $_base0;
  $base0 =  $_base00;
  $base1 =  $_base01;
  $base2 =  $_base02;
  $base3 =  $_base03;
}

/* non highlighted code colors */
$pre-bg ?= transparent 
$pre-border ?= none 
$pre-color ?= $base1 

